lively.next-node_modules/
dev-deps/
esm_cache/
.livelydbs/
.module_cache/
tmp/
subservers/
resources/
uploads/
users/
custom-npm-modules/
*.idb/
favicon.ico
localconfig.js
robots.txt
config.js
user-server.sh
package-lock.json
/lively.server/usage_log.json
/lively.installer.log
/lively-system-interface/.lively.next-eval-server-for-test.js
/lively.server/.lively.next-eval-server-for-test.js
components_cache/*
lively.freezer/landing-page/
lively.freezer/loading-screen/
lively.classes/build/
local_projects/
