lively.next-node_modules/
dev-deps/
.livelydbs/
.module_cache/
tmp/
subservers/
resources/
uploads/
users/
custom-npm-modules/
*.idb/
*.html
*.css
favicon.ico
localconfig.js
robots.txt
update.sh
start.sh
config.js
user-server.sh
package-lock.json
/lively.installer.log
/lively-system-interface/.lively.next-eval-server-for-test.js
