$font-prefix: '..' !default;
@font-face {
  font-family: 'IBM Plex Sans Thai Looped';
  font-style: italic;
  font-weight: 400;
  src: local('IBM Plex Sans Thai Looped Italic'),
    local('IBMPlexSansThaiLooped-Italic'),
    url('#{$font-prefix}/IBM-Plex-Sans-Thai-Looped/fonts/complete/woff2/IBMPlexSansThaiLooped-Italic.woff2') format('woff2'),
    url('#{$font-prefix}/IBM-Plex-Sans-Thai-Looped/fonts/complete/woff/IBMPlexSansThaiLooped-Italic.woff') format('woff');
}

