name: Build (and Deploy) Docs

permissions:
  pages: write
  id-token: write

on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: docs-build-check-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    - name: Setup `node`
      uses: actions/setup-node@v3
      with:
        node-version: '20.10'
    - name: Install `jsdoc`
      run: npm install -g jsdoc@3.6.7
    - name: Install `jsdoc` theme
      run: npm install clean-jsdoc-theme@4.2.14
    - name: Build Documentation
      run: jsdoc -c conf.json -R README.md
    - name: Copy over Custom Style Files for Theme
      run: |
        cp doc-style/fonts/* docs/fonts/
        cp doc-style/styles/* docs/styles/
        cp doc-style/logo.svg docs/logo.svg
        cp lively.morphic/assets/favicon.ico docs/favicon.ico
    - name: Upload Documentation Build
      uses: actions/upload-pages-artifact@v3
      if: github.event_name == 'workflow_dispatch'
      with:
        name: docs
        path: docs/
  deploy:
    if: github.event_name == 'workflow_dispatch'
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          artifact_name: docs