name: Check Build Artifacts

on:
  pull_request:
  workflow_dispatch:

jobs:
  check:
    name: Check Build Artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '18.12.1'
      - name: Install `sultan`
        run: pip3 install sultan 
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Run Check Script 
        run:  ./scripts/check-build-status.py